{% extends "_base.html" %}

{% block title %}Это главная страниц{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Автосервис</h1>
        <p class="col-md-8 fs-4">
            Доверьте ремонт и обслуживание вашего автомобиля профессионалам нашего
            автосервиса! Мы гарантируем высокое качество работ, доступные цены,
            надежность и гарантию.
        </p>
    </div>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-3">
    <h2>Наши услуги</h2>
    <p>
    Мы предлагаем широкий спектр услуг для вашего автомобиля, включая
    замену масла, шин, ремонт и многое другое. Наши опытные механики
    готовы помочь вам с любыми потребностями вашего транспортного средства.
    </p>

    <a href="" class="btn btn-outline-light">Показать больше</a>
    </div>
    </div>

    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Товары</h2>
            <p>
                В нашем магазине вы также можете приобрести запчасти высокого качества
                для вашего автомобиля. Мы предлагаем широкий выбор колес, масел,
                фильтров и других запчастей от ведущих производителей.
            </p>
            <a href="" class="btn btn-outline-light">Показать больше</a>
        </div>
    </div>
</div>
{% endblock %}
